@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #C3ACD0;
}

.box {
    text-align: center;
    width: 600px;
    background-color: #fafafa;
    border-radius: 14px;
    box-shadow: 2px 2px 25px 5px rgba(0,0,0,0.8);
}

h1 {
    padding: 10px 0;
    font-size: 35px;
    color: rgb(0, 0, 0, 0.8);
}

h3 {
    margin-bottom: 10px;
    color: rgb(0, 0, 0, 0.8);
}

/* .content {
    padding: 0 30px;
} */


